:host {
  @apply block;
  .outlined {
    border: 1px dashed gray;
  }
  .material-icons {
    margin-right: 0.5rem;
  }
  ::ng-deep {
    .item-focused {
      z-index: 10;
      .editable,
      app-pdf-image > div,
      app-pdf-check > div,
      app-pdf-line > svg {
        outline: 2px solid #279aff;
      }
    }
  }
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .content {
    &.has-header {
      border-top: 1px dashed #bbbbbb !important;
    }
    &.has-footer {
      border-bottom: 1px dashed #bbbbbb !important;
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
