.cdk-drag {
  cursor: move;
}

body.dragging {
  app-pdf-container > div:not(.parent) {
    border: 1px solid lightseagreen !important;
  }
  .row-selector {
    outline: none !important;
  }
  .item-focused {
    .editable,
    app-pdf-image > div,
    app-pdf-check > div {
      outline: none !important;
    }
  }
  * {
    cursor: move !important;
  }
}
