<div class="flex items-xenter justify-center px-4 gap-4">
  <!-- -------------------------------- back --------------------------------- -->
  <button
    (click)="back()"
    class="h-10 w-10 rounded-full p-0 flex items-center justify-center border-0 bg-gray-100 hover:bg-gray-200"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>
  <!-- -------------------------------- save --------------------------------- -->
  <button
    (click)="save()"
    class="h-10 w-10 rounded-full p-0 flex items-center justify-center border-0 bg-gray-100 hover:bg-gray-200"
  >
    <mat-icon>save</mat-icon>
  </button>
  <!-- ------------------------------- forward ------------------------------- -->
  <button
    (click)="forward()"
    class="h-10 w-10 rounded-full p-0 flex items-center justify-center border-0 bg-gray-100 hover:bg-gray-200"
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
  <button
    class="ml-4 h-10 rounded-md bg-gray-100 px-4 hover:bg-gray-200"
    (click)="construct()"
  >
    Previw
  </button>

  <button
    class="ml-4 h-10 rounded-md bg-gray-100 px-4 hover:bg-gray-200"
    (click)="build()"
  >
    Build
  </button>
</div>
<div style="min-width: 36cm" class="px-4 flex justify-between gap-6">
  <mat-tab-group
    class="flex-1 p-4"
    style="max-width: 30rem"
    animationDuration="0ms"
  >
    <mat-tab label="Page">
      <app-page-settings></app-page-settings>
    </mat-tab>
    <mat-tab label="Components">
      <app-new-elements></app-new-elements>
    </mat-tab>
    <mat-tab label="Rows">
      <app-new-elements [type]="'rows'"></app-new-elements>
    </mat-tab>
    <mat-tab label="Settings">
      <app-element-settings></app-element-settings>
    </mat-tab>
  </mat-tab-group>

  <div class="pdf-viewer">
    <app-pdf-container
      id="form"
      [container]="(parentContainer$ | async)!"
    ></app-pdf-container>
  </div>
</div>

<div class="mx-4 mat-elevation-z3 rounded-sm p-4">
  <pre class="text-sm">{{ docDef }}</pre>
</div>
