<div style="min-width: 36cm" class="p-4 flex justify-between gap-6">
  <mat-tab-group
    class="flex-1 p-4"
    style="max-width: 30rem"
    animationDuration="0ms"
  >
    <mat-tab label="Page">
      <app-page-settings></app-page-settings>
    </mat-tab>
    <mat-tab label="Components">
      <app-new-elements></app-new-elements>
    </mat-tab>
    <mat-tab label="Rows">
      <app-new-elements [type]="'rows'"></app-new-elements>
    </mat-tab>
    <mat-tab label="Settings">
      <app-element-settings></app-element-settings>
    </mat-tab>
  </mat-tab-group>

  <div class="pdf-viewer">
    <app-pdf-container
      id="form"
      [container]="(parentContainer$ | async)!"
      [showOutline]="false"
    ></app-pdf-container>
  </div>
</div>
<button
  class="mx-auto h-11 rounded-md bg-yellow-500 px-6 text-white"
  (click)="build()"
>
  Build & copy to clipboard
</button>

<div class="mx-6 mat-elevation-z3 rounded-sm p-4">
  <pre class="text-sm">{{ docDef }}</pre>
</div>
