<ng-container *ngIf="selectedElement() as selectedElement">
  <div
    class="grid gap-2 gap-y-4 my-8"
    style="grid-template-columns: 120px auto auto"
  >
    <!-- -------------------------------- delete -------------------------------- -->
    <span class="col-span-1"></span>
    <div class="col-span-1 flex justify-center">
      <mat-icon class="cursor-pointer" (click)="delElement(selectedElement.uId)"
        >delete_outline</mat-icon
      >
    </div>
    <div class="col-span-1 flex justify-center">
      <mat-icon
        class="cursor-pointer"
        (click)="cloneElement(selectedElement.uId)"
        >copy_all</mat-icon
      >
    </div>

    <!-- ------------------------------ Margins ------------------------------ -->
    <span class="col-span-1">Margins </span>
    <div class="col-span-2 grid grid-cols-5 gap-2">
      <div></div>
      <input
        type="number"
        class="col-start-2 col-span-3 text-center"
        [(ngModel)]="selectedElement.pt"
      />
      <div></div>

      <input
        type="number"
        class="col-start-1 col-span-2 text-center"
        [(ngModel)]="selectedElement.pl"
      />
      <div></div>

      <input
        type="number"
        class="col-start-4 col-span-2 text-center"
        [(ngModel)]="selectedElement.pr"
      />
      <div></div>

      <input
        type="number"
        class="col-start-2 col-span-3 text-center"
        [(ngModel)]="selectedElement.pb"
      />
      <div></div>
    </div>

    <!-- ---------------------------- text-element ----------------------------- -->
    <ng-container *ngIf="selectedElement.type == 'text'">
      <!-- ------------------------------- content ------------------------------- -->
      <span class="col-span-1">Content</span>
      <textarea
        placeholder="Add content here"
        class="col-span-2"
        [(ngModel)]="$any(selectedElement)!.content"
      ></textarea>
      <!-- ------------------------------ font size ------------------------------ -->
      <span class="col-span-1">Font size</span>
      <input
        class="col-span-2"
        type="number"
        [(ngModel)]="$any(selectedElement)!.fontSize"
      />
      <!-- ----------------------------- font style ------------------------------ -->
      <span class="col-span-1">Font Style</span>
      <div class="flex items-center col-span-2 gap-1">
        <button
          class="px-1 text-sm truncate flex-1 h-7 rounded-sm"
          [ngClass]="[
            $any(selectedElement)!.bold ? 'bg-blue-300' : 'bg-gray-100'
          ]"
          (click)="$any(selectedElement).bold = !$any(selectedElement)!.bold"
        >
          Bold
        </button>
        <button
          class="px-1 text-sm truncate flex-1 h-7 rounded-sm"
          [ngClass]="[
            $any(selectedElement)!.italics ? 'bg-blue-300' : 'bg-gray-100'
          ]"
          (click)="
            $any(selectedElement).italics = !$any(selectedElement)!.italics
          "
        >
          Italic
        </button>
      </div>

      <span class="col-span-1">Text color</span>
      <input
        class="col-span-2"
        type="color"
        [(ngModel)]="$any(selectedElement)!.color"
      />
    </ng-container>

    <!-- --------------------------- image-element ----------------------------- -->
    <ng-container *ngIf="selectedElement.type == 'image'">
      <span class="col-span-1">Src</span>
      <input
        class="col-span-2"
        type="text"
        [(ngModel)]="$any(selectedElement)!.src"
      />

      <span class="col-span-1">Height</span>
      <input
        class="col-span-2"
        type="number"
        [(ngModel)]="$any(selectedElement)!.height"
      />

      <span class="col-span-1">Width</span>
      <input
        class="col-span-2"
        type="number"
        [(ngModel)]="$any(selectedElement)!.width"
      />
    </ng-container>

    <!-- ---------------------------- check element ---------------------------- -->
    <ng-container *ngIf="selectedElement.type == 'check'">
      <span class="col-span-1">Value</span>
      <input
        class="col-span-2"
        type="string"
        placeholder="Leave blank to mark as checked"
        [(ngModel)]="$any(selectedElement)!.value"
      />

      <span class="col-span-1">Content</span>
      <input
        class="col-span-2"
        type="string"
        [(ngModel)]="$any(selectedElement)!.content"
      />
    </ng-container>

    <!-- ---------------------------- line element ----------------------------- -->
    <ng-container *ngIf="selectedElement.type == 'line'">
      <span class="col-span-1">Coordinates </span>
      <div class="col-span-2 grid grid-cols-5 gap-2">
        <div></div>
        <input
          type="number"
          class="col-start-2 col-span-3 text-center"
          min="0"
          [(ngModel)]="$any(selectedElement).y1"
        />
        <div></div>

        <input
          type="number"
          class="col-start-1 col-span-2 text-center"
          min="0"
          [(ngModel)]="$any(selectedElement).x1"
        />

        <input
          type="number"
          class="col-start-2 col-span-1 text-center"
          min="0"
          [(ngModel)]="$any(selectedElement).lineWidth"
        />

        <input
          type="number"
          class="col-start-4 col-span-2 text-center"
          min="0"
          [(ngModel)]="$any(selectedElement).x2"
        />
        <div></div>

        <input
          type="number"
          class="col-start-2 col-span-3 text-center"
          min="0"
          [(ngModel)]="$any(selectedElement).y2"
        />
        <div></div>
      </div>
    </ng-container>

    <!-- ----------------------------- row-element ----------------------------- -->
    <ng-container *ngIf="selectedElement.type == 'row'">
      <span class="col-span-1">Gap</span>
      <input
        class="col-span-2"
        type="number"
        [(ngModel)]="$any(selectedElement)!.columnGap"
      />

      <span class="col-span-1">Columns</span>
      <div class="col-span-2 flex gap-2">
        <div class="flex-1 gap-1 flex">
          <ng-container
            *ngFor="let column of $any(selectedElement)!.columns; index as i"
          >
            <div
              class="flex-initial text-sm truncate h-9 rounded-sm flex items-center justify-between hover:bg-gray-200 min-w-6"
              [style.flexBasis.%]="($any(selectedElement)!.cols[i] * 100) / 12"
              [ngClass]="
                column.uId == selectedContainer()?.uId
                  ? 'bg-blue-300'
                  : 'bg-gray-100'
              "
              (click)="selectedContainer = column"
            >
              <input
                class="w-full !px-0 text-center mx-auto max-w-12"
                type="number"
                [(ngModel)]="$any(selectedElement)!.cols[i]"
              />
            </div>
          </ng-container>
        </div>
        <button
          *ngIf="$any(selectedElement).remainingCols"
          (click)="$any(selectedElement).addColumn(2)"
          class="h-9 w-9 border-0 bg-gray-300"
        >
          +
        </button>
      </div>
      <!-- -------------------------- container element -------------------------- -->
      <ng-container *ngIf="selectedContainer() as selectedContainer">
        <div class="col-span-3">
          <hr />
          <p class="text-center p-4 text-base">Container settings</p>
        </div>
        <span class="col-span-1">Move</span>
        <div class="col-span-2 flex justify-around">
          <mat-icon
            class="cursor-pointer"
            (click)="
              $any(selectedElement).flipColumns(selectedContainer.uId, -1)
            "
            >chevron_left</mat-icon
          >
          <mat-icon
            class="cursor-pointer"
            (click)="
              $any(selectedElement).flipColumns(selectedContainer.uId, 1)
            "
            >chevron_right</mat-icon
          >
        </div>

        <span class="col-span-1">Delete</span>
        <div class="col-span-2 flex justify-center">
          <mat-icon
            class="cursor-pointer"
            (click)="delElement(selectedContainer.uId)"
            >delete</mat-icon
          >
        </div>
        <span class="col-span-1">Alignment</span>
        <div class="flex items-center col-span-2 gap-1">
          <button
            class="px-1 text-sm truncate flex-1 h-7 rounded-sm"
            [ngClass]="[
              $any(selectedContainer)!.alignment == 'left'
                ? 'bg-blue-300'
                : 'bg-gray-100'
            ]"
            (click)="$any(selectedContainer).alignment = 'left'"
          >
            <mat-icon class="text-xl h-5 block m-auto"
              >format_align_left</mat-icon
            >
          </button>
          <button
            class="px-1 text-sm truncate flex-1 h-7 rounded-sm"
            [ngClass]="[
              $any(selectedContainer)!.alignment == 'center'
                ? 'bg-blue-300'
                : 'bg-gray-100'
            ]"
            (click)="$any(selectedContainer).alignment = 'center'"
          >
            <mat-icon class="text-xl h-5 block m-auto"
              >format_align_center</mat-icon
            >
          </button>
          <button
            class="px-1 text-sm truncate flex-1 h-7 rounded-sm"
            [ngClass]="[
              $any(selectedContainer)!.alignment == 'right'
                ? 'bg-blue-300'
                : 'bg-gray-100'
            ]"
            (click)="$any(selectedContainer).alignment = 'right'"
          >
            <mat-icon class="text-xl h-5 block m-auto"
              >format_align_right</mat-icon
            >
          </button>
        </div>

        <!-- ------------------------------ Margins ------------------------------ -->
        <span class="col-span-1">Margins </span>
        <div class="col-span-2 grid grid-cols-5 gap-2">
          <div></div>
          <input
            type="number"
            class="col-start-2 col-span-3 text-center"
            [(ngModel)]="selectedContainer.pt"
          />
          <div></div>

          <input
            type="number"
            class="col-start-1 col-span-2 text-center"
            [(ngModel)]="selectedContainer.pl"
          />
          <div></div>

          <input
            type="number"
            class="col-start-4 col-span-2 text-center"
            [(ngModel)]="selectedContainer.pr"
          />
          <div></div>

          <input
            type="number"
            class="col-start-2 col-span-3 text-center"
            [(ngModel)]="selectedContainer.pb"
          />
          <div></div>
        </div>
        <span class="col-span-1">Text color</span>
        <input
          class="col-span-2"
          type="color"
          [(ngModel)]="$any(selectedContainer)!.color"
        />
        <span class="col-span-1">background color</span>
        <input
          class="col-span-2"
          type="color"
          [(ngModel)]="$any(selectedContainer)!.bgColor"
        />
      </ng-container>
    </ng-container>

    <ng-container *ngIf="selectedElement.type == 'container'"></ng-container>
  </div>
</ng-container>
