<div
  *ngIf="control.pageBreak === 'before'"
  class="page-break relative h-40 mx-auto z-10"
>
  <hr
    class="absolute border-yellow-500 left-1/2 top-20 -translate-x-1/2"
    style="width: 21cm"
  />
</div>
<div class="bg-cover bg-no-repeat bg-center" [PdfItemStyleApplier]="control">
  <div
    *ngIf="!control.src"
    class="font-medium bg-gray-200 text-gray-300 truncate text-sm p-4 flex items-center justify-center h-full w-full"
  >
    Image element
  </div>
</div>
<div
  *ngIf="control.pageBreak === 'after'"
  class="page-break relative h-40 mx-auto z-10"
>
  <hr
    class="absolute border-yellow-500 left-1/2 top-20 -translate-x-1/2"
    style="width: 21cm"
  />
</div>
