<ng-container
  *ngIf="{
    focusedElement: focusedElement | async
  } as data"
>
  <div
    class="row-selector"
    (click)="$event.stopPropagation(); setFocusedElement(control)"
    [ngClass]="{
      focused: data.focusedElement?.uId == control.uId
    }"
  ></div>
  <div
    [PdfItemStyleApplier]="control"
    class="flex z-10 relative"
    *ngIf="control"
  >
    <div
      *ngFor="let col of control.cols; index as i"
      [style.flexBasis.%]="(col * 100) / 12"
      class="flex-initial no-drop items-stretch"
    >
      <app-pdf-container [container]="control.columns[i]"></app-pdf-container>
    </div>
  </div>
</ng-container>
