:host {
  @apply block relative;

  .row-selector {
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(max(36cm, 100vw) - min(33rem, calc(100vw - 33rem)));
    height: 100%;
    transform: translateX(-50%);
    &:hover {
      outline: 2px solid #0b95ffad;
    }
    &.focused {
      outline: 2px solid #0b96ff;
    }
  }
}
