:host {
  @apply block;
}

.editable {
  overflow-y: auto;
  padding: 0;
  resize: none;
  outline: none;
  white-space: pre-wrap;
  cursor: text; /* Shows the text cursor on hover */
}

.editable:empty:before {
  content: attr(placeholder);
  color: #aaa;
}
