/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "styles/cdkDragDrop";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

* {
  box-sizing: border-box;
}
